.container__small-card{
   margin-bottom: 15px;
}
.container__small-card-content{
   display: flex;
   flex-direction: row;
   width: 700px;
}

.small-card-photo>img{
   width: 300px;
   min-width: 300px;
   height:150px;
   margin-right: 20px;
}

.small-card-title{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}
.small-card-title>p{
   font-size: 20px;
}

.small-card-separator{
   margin-top: 10px;
}