.container__content{
   margin-top: 10px;
   width: 100%;
   height: 90vh;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.content-cover > img{
   border: 5px solid rgb(144, 144, 144);
   border-radius:5px ;
}


.content-description{
   margin-top: 15px;
}
.content-description>a{
  color: blue;
}
.content-description>p{
  color: gray;
}