<app-menu-title></app-menu-title>
<div class="container__articles">
   <div class="articles-main">
      <app-big-card
      photoCover={{dataFake[0].image}}
      cardTitle={{dataFake[0].name}}
      cardDescription={{dataFake[0].description}}
      id={{dataFake[0].id}}
      ></app-big-card>
   </div>
   <div class="articles-others">
      <app-small-card
      photoCover={{dataFake[1].image}}
      cardTitle={{dataFake[1].name}}
      id={{dataFake[1].id}}
      ></app-small-card>
      <app-small-card
      photoCover={{dataFake[2].image}}
      cardTitle={{dataFake[2].name}}
      id={{dataFake[2].id}}
      ></app-small-card>
      <app-small-card
      photoCover={{dataFake[3].image}}
      cardTitle={{dataFake[3].name}}
      id={{dataFake[3].id}}
      ></app-small-card>
   </div>
</div>
